<!-- <app-header></app-header> -->

<nav class="py-3 d-lg-flex navbar" id="home">
        <div id="logo">
            <h1><a routerLink="/"><img src="/assets/images/favicon.png" alt=""> MeetupCareers</a></h1>
        </div>
        <label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
        <input type="checkbox" id="drop" />
        <ul class="menu ml-auto mt-1">
        
            <li class="nav-item"
            *ngIf="!auth.isLoggedIn()">
             <a class="nav-link" routerLink="/login">Sign in</a>
            </li>
      
            <li class="nav-item"
            *ngIf="!auth.isLoggedIn()">
             <a class="nav-link" routerLink="/register">Sign up</a>
            </li>
      
            <li class="nav-item"
            *ngIf="auth.isLoggedIn()">
             <a class="nav-link" routerLink="/profile">
              Hi, {{auth.getUserDetails()?.firstname}}
            </a>
            </li>
      
            <li class="nav-item">
             <a class="nav-link" routerLink="/mentee">Mentees</a>
            </li>      
            
            <li class="nav-item">
             <a class="nav-link" routerLink="/mentor">Mentors</a>
            </li>
      
            <li class="nav-item"
            *ngIf="auth.isLoggedIn()">
             <a class="nav-link" 
              routerLink=""
              (click)="auth.logOut()">Sign Out</a>
            </li>
        </ul>
      
</nav>


<div class="container mb-5">
    <div class="row">
          <div class="col-md-9 offset-md-1 mt-4 p-3 mat-elevation-z8">
            <div class="avatar">
              <img src="/assets/images/icon.png" alt=""> 
            </div>
            <div class="profile-header">       
                    <h3>{{ bio?.firstname }} {{ bio?.lastname }} </h3>
                    <span>{{ bio?.role }}</span><span class="online">{{ bio?.loggedIn }}</span>
                    <!-- <div class="form-group">
                        <button mat-raised-button color="primary">
                            <i class="fa fa-send"></i> Send Message</button>
                  </div> -->

                  <div class="form-group"  *ngIf="!relation">
                      <button mat-raised-button color="primary"
                      (click)="sendRequest()">
                          <i class="fa fa-plus"></i>  Send Request</button>
                 </div>
            </div>
         <mat-divider></mat-divider>
         <br>

         <mat-card>
            <mat-toolbar color="primary">
                <span>Profile Info</span>
             </mat-toolbar>
             <div class="profile-content p-4">
                <mat-form-field>
                    <input matInput placeholder="Email"
                    [readonly]="!editable" 
                    [value]="bio?.email"
                    >
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Mobile"
                    [readonly]="!editable" 
                    [value]="bio?.mobile"
                    >
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Category"
                    [readonly]="!editable" 
                    [value]="bio?.category">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Field"
                    [readonly]="!editable" 
                    [value]="bio?.field">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Qualifications"
                    [readonly]="!editable" 
                    [value]="bio?.qualifications">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Interests"
                    [readonly]="!editable" 
                    [value]="bio?.interests">
                </mat-form-field>
    
              </div>

         </mat-card>


</div>
</div>
</div>

<section class="copyright">
    <div class="container py-4">
        <div class="row bottom">
            <ul class="col-lg-6 links p-0">
                <li><a href="#" class="">About </a></li>
                <li><a href="#" class="">Support </a></li>
            </ul>
            <div class="col-lg-6 copy-right p-0">
                <p class="">© 2019 MeetupCareers. All rights reserved
                </p>
            </div>
        </div>
    </div>
</section>